*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fee;
  font-family: 'Raleway';
}
.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  transition: transform 1s;
}
.skw-page__half--left {
  left: 0;
  transform: translate3d(-17.4vh, 100%, 0);
}
.skw-page__half--right {
  left: 50%;
  transform: translate3d(17.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  transform: translate3d(0, 0, 0);
}
.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  transform: skewX(-10deg);
  background: #000;
}
.skw-page__half--left .skw-page__skewed {
  left: -40%;
}
.skw-page__half--right .skw-page__skewed {
  right: -40%;
}
.skw-page__content {
  display:inline-block;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: #fff;
  transform: skewX(10deg);
  transition: transform 1s, opacity 1s;
  background-size: cover;
}
.skw-page__half--left .skw-page__content {
  padding-left: 30%;
  padding-right: 20%;
  transform-origin: 100% 0;
}
.skw-page__half--right .skw-page__content {
  padding-left: 15%;
  padding-right: 30%;
  transform-origin: 0 100%;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  transform: skewX(10deg) scale(0.95);
}
.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  font-family: "Raleway";
}
.skw-page__description {
  font-size: 30px;
  text-align: center;
}
.skw-page__link {
  color: #ffa0a0;
}
.skw-page-1 .skw-page__half--left .skw-page__content {
  background-color: #2c2c2c;
}
.skw-page-1 .skw-page__half--right .skw-page__content {
  background-image: url('SelfPortrait.png');
}
.skw-page-2 .skw-page__half--left .skw-page__content {
  background: #eee;
}
.skw-page-2 .skw-page__half--right .skw-page__content {
  background: #292929;
}
.skw-page-3 .skw-page__half--left .skw-page__content {
   background: #292929;
}
.skw-page-3 .skw-page__half--right .skw-page__content {
  background-image: url("self-protrait2.jpeg");
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.skw-page-4 .skw-page__half--left .skw-page__content {
  background: #292929;
}
.skw-page-4 .skw-page__half--right .skw-page__content {
  background-image: url("street.jpg");
}





#selfPortrait{
  width: ;
  height: 100vh;
}

#myName{
  display: inline-block;
  pointer-events: none;
  position: absolute;
  z-index: 100;
  font-size: 10vw;
  font-family: "Raleway";
  color:#FEDC14;
  left:8.78vw;
  top:20vh;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#dot{
  font-size: 4vw;
}
.dotca{
  font-size: 10vw;
  color: #222222;
}









.pie-container {
  transition: padding .7s ease;
  padding: 10px 13%;
  margin-top: 20vh;
  width: 100%;
  z-index: 1000;
}

#pieChart {
  max-width: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  counter-reset: break-point 80;
}
#pieChart svg {
  overflow: visible;
  transition: width .7s ease;
}
#pieChart path {
  cursor: pointer;
}

#pieText {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
#pieText .panel {
  transform: skewX(-10deg);
  background-color: #292929;
/*  border: groove 4px #292929;*/
/*  box-shadow: 8px 10px 20px #292929, 4px 5px 25px #292929;*/
  width: 100%;
  height: 400px;
  border-radius: 7px;
  padding: 0 3px;
  float: left;
  transition: height .7s ease, padding .7s ease;
  perspective: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  overflow: hidden;
  transform-style: preserve-3d;
}

#segmentTitle, #segmentText {
  text-shadow: 1px 1px 3px #000, 1px 1px 3px #292929;
  text-align: center;
  transform:skewX(10deg);
}

#segmentTitle {
  transition: padding .7s ease;
  padding: 20px;
  font-size: calc( 19px + (35 - 19) * (100vw - 200px) / (1314 - 200));
}
@media screen and (max-width: 200px) {
  #segmentTitle {
    font-size: 19px;
  }
}
@media screen and (min-width: 1314px) {
  #segmentTitle {
    font-size: 35px;
  }
}

#segmentText {
  width: 100%;
  transition: padding .7s ease, line-height .7s ease;
  padding: 15px 20px 20px;
  font-size: calc( 14px + (21 - 14) * (100vw - 200px) / (1314 - 200));
  line-height: 28px;
}
@media screen and (max-width: 200px) {
  #segmentText {
    font-size: 14px;
  }
}
@media screen and (min-width: 1314px) {
  #segmentText {
    font-size: 21px;
  }
}

@media (max-width: 360px) {
  div.pie-container {
    padding: 10px 12%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 40;
  }
  div.pie-container #pieChart svg {
    width: 100%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 230px;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 2px 4px 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 2px 4px 4px;
    line-height: 16px;
  }
}
@media (min-width: 360.02px) and (max-width: 442px) {
  div.pie-container {
    padding: 10px 10%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 53;
  }
  div.pie-container #pieChart svg {
    width: 70%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 210px;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 4px;
    line-height: 18px;
  }
}
@media (min-width: 442.02px) and (max-width: 575.98px) {
  div.pie-container {
    padding: 10px 10%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 60;
  }
  div.pie-container #pieChart svg {
    width: 70%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 200px;
    padding: 0;

  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 4px 4px;
    line-height: 21px;
  }
}
@media (min-width: 576px) and (max-width: 637.98px) {
  div.pie-container {
    padding: 10px 12%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 70;
  }
  div.pie-container #pieChart svg {
    width: 60%;
  }
  div.pie-container #pieText {
    margin-top: 20px;
  }
  div.pie-container #pieText .panel {
    padding: 0;
    height: 205px;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 8px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 8px 8px;
    line-height: 24px;
  }
}
@media (min-width: 638px) and (max-width: 767px) {
  div.pie-container {
    padding: 10px 15%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 80;
  }
  div.pie-container #pieChart svg {
    width: 60%;
  }
  div.pie-container #pieText {
    margin-top: 20px;
  }
  div.pie-container #pieText .panel {
    padding: 0 3px;
    height: 270px;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 15px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 15px;
    line-height: 27px;
  }
}
@media (min-width: 767.02px) and (max-width: 965px) {
  div.pie-container {
    padding: 10px 4%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 50;
  }
  div.pie-container #pieText .panel {
    height: 82%;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 8px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 8px 8px;
    line-height: 23px;
  }
}
@media (min-width: 965.02px) and (max-width: 1314px) {
  div.pie-container {
    padding: 10px 5%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 60;
  }
  div.pie-container #pieText .panel {
    height: 70%;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 10px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 5px 10px 10px;
  }
}
@media (min-width: 1314.02px) and (max-width: 1480px) {
  div.pie-container {
    padding: 10px 8%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 70;
  }
  div.pie-container #pieText .panel #segmentText {
    padding-top: 10px;
  }
}






/*page 5 css*/
.bloc {
  border-color: red;
  background-color: blue;
  font-size: 100px;
}





/*page 3 css*/
.buttonRow {
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  display: inline-grid;
  width: 15vw;
  height: 30vh;
  flex: auto;
  margin:0 5%;
  padding: 10px;
  border: 3px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
}
.button:hover {
  border-radius: 5px;
  display: absolute;
  z-index: 10;
  cursor: pointer;
   -webkit-transform: scale(1.2);
  transform: scale(1.2) rotate(10deg) skewX(10deg);
  background-color:#fedc14;
  transition: 0.3s;
  font-size: 1em;
}
.button:hover:after {
  width: 100%;
  left: 0;
}
.fas{
  font-size: 5em;
}
.fab{
  font-size: 5em;
}

/*navigate back button*/
#navigateBackButton{
  text-align: center;
  width:90%;
  background-color: rgba(0,0,0,0);
  border: 2px solid white;

}
